<a href="https://colab.research.google.com/github/Jun-un/Jun-un/blob/main/2025_4_10_%EA%B3%BC%EC%A0%9C1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 필요한 라이브러리 임포트
import pandas as pd
import json
import xml.etree.ElementTree as ET

# ---------------------------
# (1) JSON 파일 → DataFrame 변환
# ---------------------------

# JSON 파일 경로
json_path = "/content/jsonData/Students_Grading_Dataset_Biased.json"

# JSON 파일 읽어오기
with open(json_path, 'r', encoding='utf-8') as f:
    json_data = json.load(f)

# JSON 데이터를 DataFrame으로 변환
df_json = pd.DataFrame(json_data)

print("JSON 파일 DataFrame 정보:")
print(df_json.info())
print(df_json.head())

JSON 파일 DataFrame 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              4484 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             4483 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      4016 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB
None
  Student_ID First_Name Last_Name                    Email  Gender  Age  \
0      S1000       Omar  Williams  student0@university.com  Female   22
1      S1001      Maria     Brown  student1@university.com    Male   18
2      S1002      Ahmed     Jones  student2@university.com    Male   24
3      S1003       Omar  Williams  student3@university.com  Female   24
4      S1004       John     Smith  student4@university.com  Female   23

    Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0  Engineering           52.29          55.03        57.82  ...
1  Engineering           97.27          97.23        45.80  ...
2     Business           57.19          67.05        93.68  ...
3  Mathematics           95.15          47.79        80.63  ...
4           CS           54.18          46.59        78.89  ...

   Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0           85.90        56.09      F                   6.2
1           55.65        50.64      A                  19.0
2           73.79        70.30      D                  20.7
3           92.12        61.63      A                  24.8
4           68.42        66.13      F                  15.4

   Extracurricular_Activities Internet_Access_at_Home  Parent_Education_Level  \
0                          No                     Yes             High School
1                          No                     Yes                    None
2                          No                     Yes                Master's
3                         Yes                     Yes             High School
4                         Yes                     Yes             High School

  Family_Income_Level Stress_Level (1-10) Sleep_Hours_per_Night
0              Medium                   5                   4.7
1              Medium                   4                   9.0
2                 Low                   6                   6.2
3                High                   3                   6.7
4                High                   2                   7.1

[5 rows x 23 columns]

#과제2

In [8]:
# XML 파일 경로
xml_path = "/content/xmlData/Automobile.xml"

# XML 파일 파싱
tree = ET.parse(xml_path)
root = tree.getroot()

# 모든 태그와 값 수집
data = []
for elem in root.iter():
    # 태그와 텍스트를 저장 (None은 제외)
    if elem.text and elem.text.strip():
        data.append({'Tag': elem.tag, 'Text': elem.text.strip()})

# 수집한 데이터를 DataFrame으로 변환
df_xml = pd.DataFrame(data)

# 결과 출력
print("XML 파일 DataFrame 정보:")
print(df_xml.info())
print(df_xml.head())

XML 파일 DataFrame 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tag     3636 non-null   object
 1   Text    3636 non-null   object
dtypes: object(2)
memory usage: 56.9+ KB
None
                                                 Tag  \
0  {urn:oasis:names:tc:opendocument:xmlns:meta:1....
1  {urn:oasis:names:tc:opendocument:xmlns:config:...
2  {urn:oasis:names:tc:opendocument:xmlns:config:...
3  {urn:oasis:names:tc:opendocument:xmlns:config:...
4  {urn:oasis:names:tc:opendocument:xmlns:config:...

                                                Text
0  LibreOffice/24.8.1.2$Linux_X86_64 LibreOffice_...
1                                                  0
2                                                  0
3                                              20200
4                                             180171